# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Datasets (large CSVs not tracked)
*.parquet
*.zip
*.csv

# IDE
.vscode/
.idea/

# Ignore model artifacts and logs
models/
*.log
*.json